.App {
  min-height: 100%;
}

.App.dark {
  background-color: #3c3c3c;
  color: #ccc;
}

.App.dark span {
  color: #eee;
}

.appMain {
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
  padding: 2rem 1rem;
  box-sizing: border-box;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}




@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
